<!DOCTYPE html>

<html>
    <head>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        {{>header}}
        <p>this is the {{title}} page</p>
        {{>footer}}
    </body>
</html>