<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
      <div id="index_page">
         {{>header}}
          {{!-- {{#if message}}
                    <div class="alert {{messageClass}}" role="alert">
                        {{message}}
                    </div>
                {{/if}} --}}
        <div id="main_content">
          <p><span>Hii,</span><br> I am your<br><span>Virtual Assistant</span></p>
        </div>
        {{!-- {{>footer}} --}}

      </div>
       



      <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005"></div>
      <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
      
    </body>
    
</html>