<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        {{>header}}

        <form id="form">
            <input id="input" placeholder="Location">
            <button id="button">Search</button>
        </form>

        <p id="msg1"></p>
        <p id="msg2"></p>


        <p>this is the {{title}} page</p>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
    
</html>