<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        {{>header}}
        <div id="main_content_portfolio">
           <p>bruh website bana raha hoon ban jayega to dalunga na</p>
           <p>abhi ye dekh lo filhaal <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">Top Secret</a></p>
           
            <p>this is the {{title}} page</p>
        </div>
        {{>footer}}
    </body>
</html>