
<div class="header">
    <div id="header_text">
        MEDICBOT
    </div>
    <div class="header_right">

        <a class="header_link" href="./history">History</a>
        <a class="header_link" href="./docs">Docs</a>
        <a class="header_link" href="/">Chatbot</a>
        <a class="header_link" href="/">Developers</a>
        <a class="header_link" href="/">Chatbot</a>
        <a class="header_link" href="/">Chatbot</a>

    </div>

</div>